@import '../../utils/Colors';
@import '../../utils/mixins/Flex';
@import '../../utils/mixins/Common';
@import '../../utils/mixins/Font';

.Button {
    @include flex($align: center, $justify: center);
    @include font-button-text;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: $button_bg;
    border: none;
    box-shadow: none;
    cursor: pointer;
    height: 32px;
    min-width: 32px;

    .Button__icon {
        background-color: $white;
        border-radius: 4px;
        padding: 4px;
        margin-left: 2px;
        img {
            vertical-align: middle;
        }
        &:only-child {
            background-color: transparent;
            margin-left: 0;
        }
    }
    .Button__text {
        flex-grow: 1;
        text-align: center;
        padding: 0 12px;
    }

    &--transparent, &--transparent .Button__icon {
        background-color: transparent;
    }

    &--outline {
        @include border($color: $button_bg);
        background-color: $white;
    }

    &--active {
        background-color: $active_blue;
        color: $white;
        .Button__icon {
            background-color: $icon_highlight;
        }
    }

    &--transparent, &--transparent .Button__icon {
        background-color: transparent;
    }

    &--compact {
        @include font($size: 10px, $color: $very_dark_gray, $type: medium);
        height: 24px;
        text-transform: uppercase;

        &:hover {
            background-color: $active_blue;
            border-color: $active_blue;
            color: $white;
        }
    }

    &--disabled {
        cursor: not-allowed;
    }

    &--reverse {
        flex-direction: row-reverse;

        .Button__icon {
            background: transparent;
        }
    }
}
