@import '../../stylesheets/utils/Colors';
@import '../../stylesheets/mixins/Common';
@import '../../stylesheets/mixins/Flex';
@import '../../stylesheets/mixins/Font';

.Textarea {
    @include flex($direction: column, $shrink: 1);
    margin: 0 0 10px 0;
    
    &__input {
        @include flex($shrink: 1);
        @include border;
        @include font(16px, $very_dark_gray, 26px, medium);
        padding: 10px 20px;
        border-radius: 4px;
        box-shadow: $sm_form_input_shadow;
        resize: none;
        min-height: 150px;
    }
}
