@import '../Colors';

@font-face {
    font-family: Roboto;
    src: url('../../assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Roboto Medium;
    src: url('../../assets/fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

@mixin font($size: 16px, $color: $page_title_color, $height: normal, $type: normal) {
    font-size: $size;
    color: $color;
    line-height: $height;

    @if $type == normal {
        font-family: Roboto;
    } @else if $type == medium {
        font-family: Roboto Medium;
    }
}

@mixin font-button-text() {
    @include font($size: 14px, $color: $button_text_color, $type: medium);
}
