$white: #fff;
$sidebar_bg: #3c5180;
$active_blue: #5a79bf;
$icon_highlight: #3c5180;
$button_bg: #e6ecff;
$option_hover: #f5f7ff;
$page_title_color: #353535;
$button_text_color: #505050;
$hover_bg: #5a79bf;
$sm_header_shadow: 0 0 10px 0 rgba(169, 175, 193, 0.4);
$sm_form_input_shadow: 0 0 5px 0 rgba(80, 80, 80, 0.05);
$sm_dropdown_shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
$box-shadow: 0 0 5px 0 rgba(169, 175, 193, 0.5);
$dark_gray: #353535;
$very_dark_gray: #404040;
$very_dark_gray_1: #707070;
$pale_blue: #e6ecff;
$very_light_red: #ff8282;
$very_pale_blue: #f5f7ff;
$card_bg: #f5f7ff;
$card_title: #202020;
$card_subtitle: #707070;
$card_legend_label: #606060;
$card_legend_value: #404040;
